[flake8]
max-line-length = 88
ignore =
    # 'ambiguous variable names' forbids using 'I', 'O' or 'l'
    E741,
    # 'line break before binary operator', but this is allowed and useful inside brackets
    W503,
    # 'whitespace before ':'', but black formats some slice expressions with space before ':'
    E203,
    # missing whitespace after ',', but black formats some expressions without space after ','
    E231,
exclude =
    optionsfactory/_version.py
    versioneer.py
